<footer class="footer">
    <div class="container footer-container">
        <div class="footer-inner">
            <div class="fotter-wrap-logo">
                <a class="footer-logo" href="./index.html"><svg class="logo-icon" width="16" height="16">
                    <use href="/img/header/icons.svg#icon-vector"></use>
                </svg><svg class="logo-icon-text" width="148" height="12">
                    <use href="/img/header/icons.svg#icon-text"></use>
                </svg></a>
                <p class="footer-text">Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.</p>
            </div>
           <div class="footer-nav-wrap">
                <nav class="footer-navigation">
                    <ul class="footer-navigarion-list">
                        <li class="footer-navigation-item"><a class="footer-nav-link" href="#how-it-works">how it works</a></li>
                        <li class="footer-navigation-item"><a class="footer-nav-link" href="#vegetables">vegetables</a></li>
                        <l class="footer-navigation-item"><a class="footer-nav-link" href="#reviews">reviews</a></l>
                    </ul>
                </nav>
                <address class="footer-addres">
                    <ul class="footer-addres-list">
                        <li class="footer-addres-item"><a class="footer-addres-link" href="tel:+380 (68) 443-94-26" target="_blank">+380 (68) 443-94-26</a></li>
                        <li class="footer-addres-item"><a class="footer-addres-link" href="" target="_blank">Pioneer Road Salt <br>Lake City UT 84104</a></li>
                    </ul>
                </address></div>
        </div>
    <div class="privacy">
        <ul class="footer-privacy-list">
            <li class="footer-privacy-item"><a class="footer-privacy-link" href="" target="_blank">Privacy Policy<span>/</span>
            </a></li>
            <li class="footer-privacy-item"><a class="footer-privacy-link" href="" target="_blank">Cookie settings</a></li>
            <li class="footer-privacy-item"><p class="footer-privacy-link">©Green Harvest 2023</p></li>
        </ul>
       </div>
    </div>
</footer>