<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">      
            <a class="header-logo" href="./index.html"><svg class="logo-icon" width="16" height="16">
                <use href="/img/header/icons.svg#icon-vector"></use>
            </svg><svg class="logo-icon-text" width="146" height="16">
                <use href="/img/header/icons.svg#icon-text"></use>
            </svg></a>
            <button type="button" class="open-menu-btn"><svg class="menu-open-icon" width="32" height="32">
                <use href="/img/header/icons.svg#icon-open-menu"></use>
            </svg></button>
            <div class="nav-wrap"><ul class="header-list">
                <li class="header-item"><a class="header-link" href="./how-it-works.html">How It Works</a></li>
                <li class="header-item"><a class="header-link" href="./vegetables.html">Vegetables</a></li>
                <li class="header-item"><a class="header-link" href="./reviews.html">Reviews</a></li>
            </ul><button class="header-buy-btn" type="button">Shop now</button>
        </nav>
    </div></div>
</header>