<section class="vegetables">
    <div class="container vegetables-container">
        <h2 class="vegetables-title">organic <span>vegetables</span></h2>
        <p class="vegetables-text">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
        <ul class="vegetables-list">
            <li class="vegetables-item">
                <h3 class="vegetables-subtitle">eggplant</h3>
                <p class="vegetables-subtitle-text">60 UAH / kg</p>
                <img srcset="/img/vegetables/eggplant2x.png 2x, /img/vegetables/eggplant1x.png 1x"
                src="/img/vegetables/eggplant1x.png"
                alt="eggplant"
                width="282"
                height="243"
                class="vegetables-image">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-subtitle">leek</h3>
                <p class="vegetables-subtitle-text">50 UAH / kg</p>
                <img srcset="/img/vegetables/leek2x.png 2x, /img/vegetables/leek1x.png 1x"
                src="/img/vegetables/leek1x.png"
                alt="leek"
                width="282"
                height="243"
                class="vegetables-image">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-subtitle">mushrooms</h3>
                <p class="vegetables-subtitle-text">40 UAH / kg</p>
                <img srcset="/img/vegetables/mashrooms2x.png 2x, /img/vegetables/mashrooms1x.png 1x"
                src="/img/vegetables/mashrooms1x.png"
                alt="mushrooms"
                width="282"
                height="243"
                class="vegetables-image">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-subtitle">corn</h3>
                <p class="vegetables-subtitle-text">60 UAH / kg</p>
                <img srcset="/img/vegetables/corn2x.png 2x, /img/vegetables/corn1x.png 1x"
                src="/img/vegetables/corn1x.png"
                alt="corn"
                width="282"
                height="243"
                class="vegetables-image">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-subtitle">sweet potatoes</h3>
                <p class="vegetables-subtitle-text">50 UAH / kg</p>
                <img srcset="/img/vegetables/sweet2x.png 2x, /img/vegetables/sweet1x.png 1x"
                src="/img/vegetables/sweet1x.png"
                alt="sweet potatoes"
                width="282"
                height="243"
                class="vegetables-image">
            </li>
            <li class="vegetables-item">
                <h3 class="vegetables-subtitle">carrot</h3>
                <p class="vegetables-subtitle-text">40 UAH / kg</p>
                <img srcset="/img/vegetables/carrot2x.png 2x, /img/vegetables/carrot1x.png 1x"
                src="/img/vegetables/carrot1x.png"
                alt="carrot"
                width="282"
                height="243"
                class="vegetables-image">
            </li>
        </ul>
    </div>
</section>