<section class="your-order">
  <div class="container order-container">
    <div class="text-container">
      <h2 class="order-title">
        Fresh <span class="title-span">Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-inner">
      <div class="order-input-box">
        <form class="form-order" name="your-order">
          <h3 class="input-order-subtitle">
            Ordering <span class="order-subtitle1">from us</span> is quick and
            easy! Fill out <span class="order-subtitle2">the form</span> below
            and we will contact you !
          </h3>
          <input
            class="order-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Full Name"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <input
            class="order-input"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <textarea
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
            class="order-textarea-text"
          ></textarea>
          <button class="order-send-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="order-link-box">
        <picture class="order-gradient">
          <source
            srcset="
              /img/your-order/desk2x.jpg 2x,
              /img/your-order/desk1x.jpg 1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="/img/your-order/tab2x.jpg 2x, /img/your-order/tab1x.jpg 1x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/your-order/mob2x.jpg 2x, /img/your-order/mob1x.jpg 1x"
            media="(min-width: 320px)"
          />
          <img
            src="/img/your-order/desk1x.jpg"
            alt="girl coockies"
            width="528"
            height="273"
            class="order-link-img"
          />
        </picture>
        <p class="order-link-text">Follow us on our social networks:</p>
        <ul class="order-link-list">
          <li class="order-link-item">
            <a
              class="order-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer"
              >instagram</a
            ><span>/</span>
          </li>
          <li class="order-link-item">
            <a
              class="order-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              >facebook</a
            ><span>/</span>
          </li>
          <li class="order-link-item">
            <a
              class="order-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
