.hero-title {
    font-weight: 600;
font-size: 48px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
margin-bottom: 20px;
color: #fbfbfb;
max-width: 335px;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    color: #fbfbfb;
    padding-bottom: 40px;
    max-width: 335px;
}

.hero-image {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero-images/hero.jpg);
    max-width: 375px;
    height: 370px;
    margin: 0 -20px;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi), (min-resolution: 192dppx) {
    .hero-image {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero-images/hero-2x.jpg);
    }
  }
  

  @media screen and (min-width: 375px) {
    .hero-container {
        width: 375px;
    }
  }

  @media screen and (min-width: 768px) {
    .hero-container {
        width: 768px;
        padding: 0 32px;
    }

    .hero-title {
        font-size: 76px;
        max-width: 704px;
        margin-bottom: 25px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 125%;
max-width: 603px;
padding-bottom: 50px;
    }

    .hero-image {
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero-images/hero-tablet.jpg);
        max-width: 768px;
        height: 539px;
         margin: 0 -32px;
    }
    
    @media screen and (min-resolution: 192dpi), (min-resolution: 192dppx) {
        .hero-image {
            background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero-images/hero-tablet2x.jpg);
        }
      }
  }

  @media screen and (min-width: 1280px) {
    .hero-container {
        width: 1280px;
        padding: 0;
    }

    
.hero-content {
    padding: 238px 28px 0 100px;
    }
    
    .hero-inner {
        display: flex;
        flex-direction: row;
    }
    
    .hero-title {
        max-width: 502px;
        margin-bottom: 128px;
    }

    .hero-text {
       max-width: 472px;
    }
    .hero-image {
        margin: 0;
        background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero-images/hero-desc.jpg);
        width: 650px;
        height: 800px;
       background-size: cover;
       background-position: center;
    }
    
    @media screen and (min-resolution: 192dpi), (min-resolution: 192dppx) {
        .hero-image {
            background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url(/img/hero-images/hero-desc2x.jpg);
        }
      }
  }