.vegetables {
    padding: 80px 0;
    background-color: #7A3145;
}

.vegetables-container {
padding: 0 20px;
}
.vegetables-title {
    font-weight: 600;
font-size: 48px;
line-height: 104%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
margin-bottom: 20px;
}

.vegetables-title span {
    color: rgba(251, 251, 251, 0.3);
}
.vegetables-text {
    font-weight: 500;
font-size: 14px;
line-height: 129%;
color: #fbfbfb;
margin-bottom: 40px;
}
.vegetables-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.vegetables-item {
    border-radius: 40px;
padding: 32px 26px;
max-width: 334px;
height: 379px;
background-color: #fbfbfb;
}
.vegetables-subtitle {
    font-weight: 600;
font-size: 28px;
line-height: 100%;
letter-spacing: -0.01em;
color: #7A3145;
margin-bottom: 20px;
}
.vegetables-subtitle-text {
    font-weight: 600;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
margin-bottom: 14px;
}
.vegetables-image {
}